<!--=============== Banner Section starts ===============-->
<div class="cover1">
    <img src="images/home/Cover.jpeg" alt="cover" width="80%">
    <img id="ComboGift" src="images/homeComboGift.jpg" alt="cover">
    </div>
        <div class="event">
        <a href="vendor.ejs"><img src="images/home/Event.webp" alt="event" width="100%"></a>
        <div class="bubbles">
            <div class="types">
                <img src="images/home/lazmall.png" alt="Lazmall logo">
                <p>Lazmall</p>
            </div>
            <div class="types">
                <img src="images/home/vouchers.png" alt="Vouchers-logo">
                <p>Vouchers</p>
            </div>
            <div class="types">
                <img src="images/home/TopUp.png" alt="Top Up & eCoupon logo">
                <p>Top Up & eCoupon</p>
            </div>
            <div class="types">
                <img src="images/home/LazGlobal.png" alt="LazGlobal logo">
                <p>LazGlobal</p>
            </div>
        </div>
    </div>
</div>
<!--=============== Banner Section ends ===============-->