<!--=============== Filter starts ===============-->
<div class="customer-filter">
    <div class="filter" id="vendor-filter">
        <h5>Vendors</h5>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="all" value="vendors[]" id="all>" checked onclick="checkAll()">
            <label class="form-check-label">All</label>
        </div>

        <!-- Display vendors as checkbox for filtering - future development -->
        <% vendors.forEach(function(vendor){ %>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="vendors[]" value="<%= vendor.id %>" id="vendor<%= vendor.id %>">
                <label class="form-check-label" for="vendor<%= vendor.id %>"><%= vendor.name %></label>
            </div>
        <% }); %>
    </div>

    <!-- Price filtering -->
    <div class="filter" id="price-filter">
        <h5>Price Range</h5>

        <form method="GET" action="/price-filter">
            <div class="d-flex align-items-center justify-content-between price-input">
                <div class="field d-flex">
                    <input type="number" id="input-min" name="min" placeholder="Min">
                </div>
                <div class="separator d-flex">-</div>
                <div class="field d-flex">
                    <input type="number" id="input-max" name="max" placeholder="Max">
                </div>

                <button class="btn btn-danger filter-btn d-flex" type="submit">
                    <i class="fa-solid fa-play"></i>
                </button>
            </div>
        </form>
        
    </div>

</div>
<!--=============== Filter ends ===============-->
