<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-col">
                <h4>CONTACT US</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">help center</a></li>
                    <li><a href="#">shipping and delivery</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>LAZADA VIETNAM</h4>
                <ul>
                    <li><a href="#">about lazada</a></li>
                    <li><a href="#">sell on lazada</a></li>
                    <li><a href="#">terms & condition</a></li>
                    <li><a href="#">privacy policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>FOLLOW US</h4>
                <div class="social-links">
                    <a href="#"><img src="followUs/facebook.png" alt="footer_logo" width="100%"></a>
                    <a href="#"><img src="followUs/tiktok.png" alt="footer_logo" width="100%"></a>
                    <a href="#"><img src="followUs/instagram.jpeg" alt="footer_logo" width="100%"></a>
                    <a href="#"><img src="followUs/linkedin.png" alt="footer_logo" width="100%"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>