<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: NotOk Group
- Tran Nguyen Ngoc Han (s3963227)
- Truong Loc Thien (s3924695)
- Le Xuan Loc (s3955317)
- Do Xuan Gia Bao (s3932184)
Acknowledgement: 
- https://github.com/TomHuynhSG/COSC2430-Web-Programming-materials.git
-->
<footer class="home-footer">
    <div class="home-footer-container">
        <div class="home-footer-row">
            <div class="home-footer-col">
                <h4>CONTACT US</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">help center</a></li>
                    <li><a href="#">shipping and delivery</a></li>
                </ul>
            </div>
            <div class="home-footer-col">
                <h4>LAZADA VIETNAM</h4>
                <ul>
                    <li><a href="#">about lazada</a></li>
                    <li><a href="/customer-home">sell on lazada</a></li>
                    <li><a href="#">terms & condition</a></li>
                    <li><a href="/privacy">privacy policy</a></li>
                </ul>
            </div>
            <div class="home-footer-col">
                <h4>FOLLOW US</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/LazadaVietnam/?locale=vi_VN" target="_blank"><img src="/images/home/facebook.png" alt="footer_logo" width="100%"></a>
                    <a href="https://www.tiktok.com/business/en-US/inspiration/lazada-295?" target="_blank"><img src="/images/home/tiktok.png" alt="footer_logo" width="100%"></a>
                    <a href="https://www.instagram.com/lazada_vn/?hl=en" target="_blank"><img src="/images/home/instagram.jpeg" alt="footer_logo" width="100%"></a>
                    <a href="https://www.linkedin.com/company/lazada/?originalSubdomain=vn" target="_blank"><img src="/images/home/linkedin.png" alt="footer_logo" width="100%"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JS scripts -->
<script src="/js/script.js"></script>

</body>
</html>