<!--=============== Navigation starts ===============-->
<div class="small-cover">
    <a href="/all"><img src="/images/home/Small_cover.png" alt="smallCover"></a>
</div>
<div><ul class="navlist">
    <li class="list_item"><a href="/all">SELL ON LAZADA</a></li>
    <li class="list_item"><a href="Track_order.ejs">TRACK MY ORDER</a></li>
    <li class="list_item"><a href="/login">LOGIN</a></li>
</ul></div>

<header class="header">
    <nav class="navbar">
        <div>
            <a href="/"><img src="/images/home/lazada.png" alt="Logo" class="logo"></a>       
        </div>
        <div class="topnav">
            <form method="GET" action="/filter">
                <input type="text" class="search-click" name="search" placeholder="Search here..." />
                <button type="submit"><img src="/images/home/Magnify.png"></button>
            </form>
            <a class="cart" href="../order"><img src="/images/home/cart.png" alt="cart"></a>                                       
        </div>                        
    </nav>
</header>
<!--=============== Navigation ends ===============-->
