<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: NotOk Group
- Tran Nguyen Ngoc Han (s3963227)
- Truong Loc Thien (s3924695)
- Le Xuan Loc (s3955317)
- Do Xuan Gia Bao (s3932184)
Acknowledgement: 
- https://github.com/TomHuynhSG/COSC2430-Web-Programming-materials.git
-->
<!--=============== Navigation starts ===============-->
<div class="small-cover">
    <a href="/customer-home"><img src="/images/home/Small_cover.png" alt="smallCover"></a>
</div>
<div><ul class="navlist">
    <li class="list_item"><a href="/customer-home">PRODUCT</a></li>
    <li class="list_item"><a href="/login">LOGIN</a></li>
</ul></div>

<header class="header">
    <nav class="navbar">
        <div>
            <a href="/"><img src="/images/home/lazada.png" alt="Logo" class="logo"></a>       
        </div>
        <div class="topnav">
            <input type="text" class="search-click" name="search-bar" placeholder="Search here..." />
            <button type="submit"><img src="/images/home/Magnify.png"></button>
            <a class="cart" href="#"><img src="/images/home/cart.png" alt="cart"></a>                                       
        </div>                        
    </nav>
</header>
<!--=============== Navigation ends ===============-->
