<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Lazada - Home</title>
</head>
<img src="Small_cover.png" alt="cover" class="cover">
<body>
    <div><ul class="navlist">
        <li class="list_item"><a href="sell_on_lazada.ejs">SELL ON LAZADA</a></li>
        <li class="list_item"><a href="customercare.ejs">CUSTOMER CARE</a></li>
        <li class="list_item"><a href="Track_order.ejs">TRACK MY ORDER</a></li>
        <li class="list_item"><a href="login.ejs">LOGIN</a></li>
        <li class="list_item"><a href="register.ejs">SIGN UP</a></li>
    </ul></div>
    <header class="header">
        <nav class="navbar">
            <div>
                <a href="index.ejs"><img src="lazada.png" alt="Logo" class="logo"></a>       
            </div>
            <div class="topnav">
                <input type="text" class="search-click" name="search-bar" placeholder="Search here..." />
                <button type="submit"><img src="Magnify.png"></button>                                          
            </div>
            <div class="cart">
                <a href="#"><img src="cart.png" alt="cart"></a>
            </div> 
            <img src="500.png" alt="voucher" class="voucher-500" width="15%">                               
        </nav>
    </header>
    <div class="cover1">
    <img src="Cover.jpeg" alt="cover" width="80%">
    <img id="ComboGift" src="ComboGift.jpg" alt="cover">
    </div>
        <div class="event">
        <a href="vendor.ejs"><img src="Event.webp" alt="event" width="100%"></a>
        <div class="bubbles">
            <div class="types">
                <img src="lazmall.png" alt="Lazmall logo">
                <p>Lazmall</p>
            </div>
            <div class="types">
                <img src="vouchers.png" alt="Vouchers-logo">
                <p>Vouchers</p>
            </div>
            <div class="types">
                <img src="TopUp.png" alt="Top Up & eCoupon logo">
                <p>Top Up & eCoupon</p>
            </div>
            <div class="types">
                <img src="LazGlobal.png" alt="LazGlobal logo">
                <p>LazGlobal</p>
            </div>
        </div>
    </div>
    <hr>
        <div class="row">
            <div class="card">
                <img src="footer1.png" alt="footer" width="300px">
            </div>
            <div class="card">
                <img src="footer2.png" alt="footer" width="300px">
            </div>
            <div class="card">
                <img src="footer3.png" alt="footer" width="300px">
            </div>
    </div>
    <footer class="footer">
            <div class="footer-container">
                <div class="footer-row">
                    <div class="footer-col">
                        <h4>CONTACT US</h4>
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">help center</a></li>
                            <li><a href="#">shipping and delivery</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>LAZADA VIETNAM</h4>
                        <ul>
                            <li><a href="#">about lazada</a></li>
                            <li><a href="#">sell on lazada</a></li>
                            <li><a href="#">terms & condition</a></li>
                            <li><a href="#">privacy policy</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>FOLLOW US</h4>
                        <div class="social-links">
                            <a href="#"><img src="followUs/facebook.png" alt="footer_logo" width="100%"></a>
                            <a href="#"><img src="followUs/tiktok.png" alt="footer_logo" width="100%"></a>
                            <a href="#"><img src="followUs/instagram.jpeg" alt="footer_logo" width="100%"></a>
                            <a href="#"><img src="followUs/linkedin.png" alt="footer_logo" width="100%"></i></a>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
</body>
</html>