<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: NotOk Group
- Tran Nguyen Ngoc Han (s3963227)
- Truong Loc Thien (s3924695)
- Le Xuan Loc (s3955317)
- Do Xuan Gia Bao (s3932184)
Acknowledgement: 
- https://github.com/TomHuynhSG/COSC2430-Web-Programming-materials.git
-->
<%- include('partials/head') %>
<%- include('partials/nav') %>
<head> 
  <link rel="stylesheet" href="/css/view-my-product.css">
  <link rel="stylesheet" href="/css/add-my-product.css">

</head>
<main class="container">
  <nav class="breadcrumbs">
    <a href="/" class="breadcrumbs__item">Home</a>
    <a href="#checkout" class="breadcrumbs__item is-active">Add New Product</a> 
  </nav>

    <div class="form">
      <h1>ADD NEW PRODUCT</h1>
      <form action="/product/add" method="POST">
        <label for="image">Product's image</label><br>
        <input type="file" id="productimage" name="productimage"><br><br>
        <br>
        <label for="name">Product's name:</label><br>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="price">Price:</label><br>
        <input type="number" min="0" name="price" required>
        <br><br>
        <label for="freeform">Description:</label> <br>
        <textarea id="freeform" name="description" rows="4" cols="50" ></textarea>
        <br><br>
          <button class="btn btn-danger" type="submit" value="Create">Create</button>
          <button class="btn btn-danger" type="reset" value="Reset">Reset</button>
      </form>
    </div>
</main>

<%- include('partials/footer') %>