<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: NotOk Group
- Tran Nguyen Ngoc Han (s3963227)
- Truong Loc Thien (s3924695)
- Le Xuan Loc (s3955317)
- Do Xuan Gia Bao (s3932184)
Acknowledgement: 
- https://github.com/TomHuynhSG/COSC2430-Web-Programming-materials.git
-->
<%- include('partials/head') %>
<%- include('partials/nav') %>
<%- include('partials/banner') %>
    <hr>
    <div id="home-row" class="home-row">
        <div class="home-card">
            <img src="/images/home/footer1.png" alt="footer" width="300px">
        </div>
        <div class="home-card">
            <img src="/images/home/footer2.png" alt="footer" width="300px">
        </div>
        <div class="home-card">
            <img src="/images/home/footer3.png" alt="footer" width="300px">
        </div>
    </div>
<%- include('partials/footer') %>