<%- include('partials/head') %>
<%- include('partials/nav') %>
<%- include('partials/banner') %>
    <hr>
    <div id="home-row" class="home-row">
        <div class="home-card">
            <img src="images/home/footer1.png" alt="footer" width="300px">
        </div>
        <div class="home-card">
            <img src="images/home/footer2.png" alt="footer" width="300px">
        </div>
        <div class="home-card">
            <img src="images/home/footer3.png" alt="footer" width="300px">
        </div>
    </div>
    <a href="/customer-home">Customer Home</a>
<%- include('partials/footer') %>