<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: NotOk Group
- Tran Nguyen Ngoc Han (s3963227)
- Truong Loc Thien (s3924695)
- Le Xuan Loc (s3955317)
- Do Xuan Gia Bao (s3932184)
Acknowledgement: 
- https://github.com/TomHuynhSG/COSC2430-Web-Programming-materials.git
-->
<%- include('partials/head') %>
<%- include('partials/nav') %>
<main>
<table id="vendors">
    <col>
    <tr>
        <th>Owner's Name</th>
        <th>Thien</th>
    </tr>
    <tr>
        <th>Owner's Address</th>
        <th>Ho Chi Minh city</th>
    </tr>
    <tr>
        <th>Bussiness's Name</th>
        <th>ABC store</th>
    </tr>
    <tr>
        <th>Bussiness's Address</th>
        <th>District 1, Ho Chi Minh city</th>
    </tr>
    <tr>
        <th>Phone number</th>
        <th>0943215678</th>
    </tr>
</table>
</main>


<script src="/login"></script>

<%- include('partials/footer'); %>