<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: NotOk Group
- Tran Nguyen Ngoc Han (s3963227)
- Truong Loc Thien (s3924695)
- Le Xuan Loc (s3955317)
- Do Xuan Gia Bao (s3932184)
Acknowledgement: 
- https://github.com/TomHuynhSG/COSC2430-Web-Programming-materials.git
-->
<%- include('partials/head') %>
<%- include('partials/nav') %>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendor</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Vendor's Infomation</h1>
    <div class="menu">
        <button class="VMP"><a href="/products">View My Product</a></button>
        <button class="ANP" ><a href="/products/news">Add New Product</a></button>
    </div>
    <table id="vendors">
        <col>
        <tr>
            <th>Owner's Name</th>
            <th>Thien</th>
        </tr>
        <tr>
            <th>Owner's Address</th>
            <th>Ho Chi Minh city</th>
        </tr>
        <tr>
            <th>Bussiness's Name</th>
            <th>ABC store</th>
        </tr>
        <tr>
            <th>Bussiness's Address</th>
            <th>District 1, Ho Chi Minh city</th>
        </tr>
        <tr>
            <th>Phone number</th>
            <th>0943215678</th>
        </tr>
    </table>
</body>
<%- include('partials/footer') %>