/* ---------- Design the button page ---------- */
.btn-danger{
    --bs-btn-bg: #ed6600;
    --bs-btn-border-color: #ed6600;
}
.btn-primary{
    --bs-btn-bg:#000083; 
    --bs-btn-border-color: #000083;
}
.filter-btn{
    margin-left: 10px;
    /* Find a way to fix this using flex align */
}

.filter{
    border-top: 1px solid var(--bs-gray-300);
    margin-bottom: 20px;
    margin-right: 20px;
}

.filter h5{
    margin-top: 10px;
}

.price-input{
    width: 80%;
} 

.price-input .field{
    height:45px; 
    width:100%;
    align-items: center;
}
.price-input .separator{
    width: 30px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}
.field input{
    width:100%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #999;
}

#products .card .card-body{
    border-top: 1px solid var(--bs-gray-300);
}

#products-detail{
    display: flex;
    justify-content:center;
    align-items: center;
}

#products-detail .sub-img{
    margin-top: 10px;
}

#products-detail .card-body{
    border-bottom: 1px solid var(--bs-gray-300);
}


/* ---------- Design the login page ---------- */
.user-pass ul li {
	list-style-type: none;
	padding-bottom: 5%;
}

.user-pass ul li input {
	background-color: white;
	border: solid 1px black;
	border-radius: 5px;
	text-align: left;
}

h1{
	font-family: sans-serif;
	color: #F07334;
}

.login-container {
    margin: 30px auto;
    padding: 5px;
    font-family: sans-serif;
    border: 2px solid #F07334;
    width: 30%;
    text-align: center;
    border-radius: 12px;
    background-color: white;
    padding-bottom: 10px;

}

.submit {
	background-color: transparent;
	color: black;
	border: 1px solid black;
	border-radius: 12px;
	width: 50%;
	font-family: "Aria";
	font-size: 18px;
	text-align: center;;
}

.submit:hover {
	background-color: #F07334;
}

.password, .username {
width: 50%
}

/* ---------- Design the register page ---------- */
#register-form {
    margin: 30px auto;
    padding: 12px;
    width: 70%;
    border: 2px solid #F07334;
    border-radius: 25px;
}
#register-form .input[type=text], input[type=password] {
	width: 97%;
	padding: 10px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #F5F5F5;
}
#register-form .hr {
	border: 1px solid #e6e6e6;
}
#register-form .registerbutton{
	background-color: #F07334;
	color: white;
	padding: 15px 20px;
	margin: 10px 0px;
	border: none;
	cursor: pointer;
	width: 100%;
}
#register-form h1 {
    text-align: center;
}
#register-form h4 {
    text-align: center;
}
#register-form label {
    padding-bottom: 1px;
}
#register-form input {
    width: 100%;
}
#register-form input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* hide arrows from input number in form */
    margin: 0;
}
/*Code bừa*/
*{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.small-cover img{
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.navlist{
    list-style-type: none;
    background-color: #F5F5F5;
}
.navlist .list_item{
    position: relative;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
    color: #F5F5F5;
    -webkit-transition: color .2s;
    transition: color .2s;
    padding: 0 17px;
}
.navbar a{
    color:darkblue;
    background-color: white;
}

.navbar a:hover{
    color: orangered;
}
.logo{
    background-color: white;
    width: 90%;
}
/* Add a black background color to the top navigation bar */
.topnav {
    overflow:hidden;
    background-color: #F5F5F5;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.topnav img{
    width: 40px;
}
.topnav button{
    border: none;
}
.cart img{
    justify-content: flex-end;
    padding-left: 10%;
}

/* Style the search box inside the navigation bar */
.search-click {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    width: 1000px;
    height: 50px;
    transition: all 0.5s;
}
.topnav :placeholder-shown{
    padding-left: 12px;
}
.search-click:focus {
    width: 1000px;
}
.search-click {
    position: relative;
    overflow: hidden;
    height: 40px;
}
.search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;
}

.home-row{
    margin: 20px 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.home-card{
    margin: 0px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* ---------- Design the event box model ---------- */
.event{
    margin: 20px 0;
    background-color: #FB67A7;
}
.bubbles{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.types{
    margin: 0px 10px 10px 10px;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    align-items: center;
    font-size: 1.5vw;
}
.types p{
    margin-bottom: 0;
}
.types img{
    height: 50px;
}
hr{
    width: 50%;
    margin: 0 25% 0 25%;
}
.cover1{
    background-color: #002279;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#ComboGift{
    z-index: 100;
    position: absolute;
    width: 24%;
    padding-left: 60%;
}

/* ---------- Design the footer of the website ---------- */
.containers{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.hom-footer-container{
	max-width: 1170px;
	margin:auto;
}
.home-footer-row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
    padding-left: 0;
}
.home-footer{
    padding: 70px;
    background-color: #F5F5F5;
}
.home-footer-col{
   width: 25%;
   padding: 0 15px;
}
.home-footer-col h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.home-footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: black;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.home-footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.home-footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;

}
.home-footer-col ul li a:hover{
	color: black;
	padding-left: 8px;
}
.home-footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
}


/* ---------- RESPONSIVE LAZADA WEBSITE DESIGN ---------- */

/* ---------- Responsive buttons ---------- */
@media(max-width: 768px){
    .price-input{
        display: block!important;
    }
    .price-input .separator{
        display: none!important;
    }
    .price-input .filter-btn{
        margin: 10px 0;
        justify-content: center;
    }
    .card-title{
        min-height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .customer-filter{
        display: block;
        position:absolute;
    }
}


/* ---------- Responsive footer section ---------- */
@media(max-width: 767px){
    .home-footer-col{
        width: 100%;
    }
    .home-footer-col ul li a{
        font-size: 70%;
    } 
    .home-footer-col h4{
        font-size: 70%;
    }     
    .types img{
        height: 20px; 
    }
    .home-footer-col .social-links img{
        width: 70%;
    }
    .logo{
        display: none;
    }
}